<div data-aos="fade-down-right" class="section-link home">
  <div class="main">
    <div class="container">
      <div class="content">
        <h1>Discover my Amazing <br>
          Art Space!</h1>
          <p>&lt;<span>code</span>&gt; &nbsp;<ngtypewriter [StringList]='list' [speed]='1000'></ngtypewriter> &nbsp;&lt;/<span>code</span>&gt;</p>
          <button routerLink="/portfolio">Explore Now</button>
      </div>
    </div>
  </div>
  <div class="experiance-details">
    <div class="container">
      <div class="row">
        <div class="experiance col-md-6 col-lg-3">
          <div class="number">
            2 +
          </div>
          <div class="title">
            Years Experience
          </div>
        </div>
        <div class="experiance col-md-6 col-lg-3">
          <div class="number">
            10 +
          </div>
          <div class="title">
            Completed Projects
          </div>
        </div>
        <div class="experiance col-md-6 col-lg-3">
          <div class="number">
            10 +
          </div>
          <div class="title">
            Happy Customers
          </div>
        </div>
        <div class="experiance col-md-6 col-lg-3">
          <div class="number">
            20 +
          </div>
          <div class="title">
            Honers Awards
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="title">Recommendations</div>
    <swiper class="swipper"
      [config]="config"
      (swiper)="onSwiper($event)"
      (slideChange)="onSlideChange()"
    >
    <ng-template swiperSlide>
      <div class="item">
        <div class="row">
          <div class="col-md-6 col-xs-12">
            <div class="name">Ahmed</div>
            <div class="sub-title">Team Leader</div>
          </div>
          <div class="image col-md-6 col-xs-12">
            <img width="100px" height="100px" src="../../../assets/WhatsApp Image 2021-06-28 at 2.03.46 AM.jpeg" alt="">
          </div>
        </div>

        <div class="comment">
          Working with Artur has been a pleasure. Better yet - I alerted them of a minor issue before going to sleep. The issue was fixed the next morning. I couldn't ask for better support. Thank you Artur! This is easily a 5 star freelancer.
        </div>
        <div class="stars">
          <fa-icon [icon]="faStar"></fa-icon>
          <fa-icon [icon]="faStar"></fa-icon>
          <fa-icon [icon]="faStar"></fa-icon>
          <fa-icon [icon]="faStar"></fa-icon>
          <fa-icon [icon]="faStar"></fa-icon>
        </div>
    </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="item">
        <div class="row">
          <div class="col-md-6 col-xs-12">
            <div class="name">Anas</div>
            <div class="sub-title">Arctutre</div>
          </div>
          <div class="image col-md-6 col-xs-12">
            <img width="100px" height="100px" src="../../../assets/WhatsApp Image 2021-06-28 at 2.03.46 AM.jpeg" alt="">
          </div>
        </div>

        <div class="comment">
          Working with Artur has been a pleasure. Better yet - I alerted them of a minor issue before going to sleep. The issue was fixed the next morning. I couldn't ask for better support. Thank you Artur! This is easily a 5 star freelancer.
        </div>
        <div class="stars">
          <fa-icon [icon]="faStar"></fa-icon>
          <fa-icon [icon]="faStar"></fa-icon>
          <fa-icon [icon]="faStar"></fa-icon>
          <fa-icon [icon]="faStar"></fa-icon>
          <fa-icon [icon]="faStar"></fa-icon>
        </div>
    </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="item">
        <div class="row">
          <div class="col-md-6 col-xs-12">
            <div class="name">Sohyb</div>
            <div class="sub-title">Customer</div>
          </div>
          <div class="image col-md-6 col-xs-12">
            <img width="100px" height="100px" src="../../../assets/WhatsApp Image 2021-06-28 at 2.03.46 AM.jpeg" alt="">
          </div>
        </div>

        <div class="comment">
          Working with Artur has been a pleasure. Better yet - I alerted them of a minor issue before going to sleep. The issue was fixed the next morning. I couldn't ask for better support. Thank you Artur! This is easily a 5 star freelancer.
        </div>
        <div class="stars">
          <fa-icon [icon]="faStar"></fa-icon>
          <fa-icon [icon]="faStar"></fa-icon>
          <fa-icon [icon]="faStar"></fa-icon>
          <fa-icon [icon]="faStar"></fa-icon>
          <fa-icon [icon]="faStar"></fa-icon>
        </div>
    </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="item">
        <div class="row">
          <div class="col-md-6 col-xs-12">
            <div class="name">Eslam</div>
            <div class="sub-title">Customer</div>
          </div>
          <div class="image col-md-6 col-xs-12">
            <img width="100px" height="100px" src="../../../assets/WhatsApp Image 2021-06-28 at 2.03.46 AM.jpeg" alt="">
          </div>
        </div>

        <div class="comment">
          Working with Artur has been a pleasure. Better yet - I alerted them of a minor issue before going to sleep. The issue was fixed the next morning. I couldn't ask for better support. Thank you Artur! This is easily a 5 star freelancer.
        </div>
        <div class="stars">
          <fa-icon [icon]="faStar"></fa-icon>
          <fa-icon [icon]="faStar"></fa-icon>
          <fa-icon [icon]="faStar"></fa-icon>
          <fa-icon [icon]="faStar"></fa-icon>
          <fa-icon [icon]="faStar"></fa-icon>
        </div>
    </div>
    </ng-template>
    </swiper>
  </div>
  <app-footer></app-footer>
</div>
