.portfolio{
  .nav-projects{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 0;
    ul{
      li{
        padding: 0 16px;
        cursor: pointer;
      }
    }
  }
  .projects{
    margin: 30px 0;
    .row{
      .project{
        // background-image: url('../../../assets/screencapture-devomohamed-github-io-Food-Theme-2022-05-12-20_08_10.png');
        display: block;
        position: relative;
        transition: all ease-in-out 3s;
        background-position: center top;
        background-size: cover;
        background-repeat: no-repeat;
        height: 200px;
        position: relative;
        .overlay{
          position: absolute;
          left: 0;
          bottom: 0;
          background-color: #00000038;
          width: 100%;
          height: 0%;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: ease-in-out .5s;
          a{
            display: none;
            margin: 0 10px;
            fa-icon{
              color: black;
              font-size: 25px;
            }
          }
        }
        &:hover{
          background-position: center bottom;
    background-size: cover;
    .overlay{
      height: 100%;
      a{
        display: inline;
      }
    }
        }
      }
    }
  }
}
