.hist {
  margin: 10px 0;
  position: relative;
  &::after {
    height: 10px;
    width: 10px;
    background-color: rgba(43, 43, 53, 0.98);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    content: "";
    position: absolute;
    top: 11px;
    right: -5px;
    border-top-right-radius: 50%;
  }
  &::before {
    position: absolute;
    content: '';
    top: 8px;
    right: -30px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: solid 3px #ffc107;
    background: #1e1e28;
    -webkit-box-shadow: 0 3px 8px 0 rgb(15 15 20 / 20%);
    box-shadow: 0 3px 8px 0 rgb(15 15 20 / 20%);
  }
  background: linear-gradient(159deg, #2d2d3a 0%, #2b2b35 100%);
  box-shadow: 0 3px 8px 0 rgb(15 15 20 / 20%);
  padding: 30px;
  .title-post {
  }
  span {
    color: #8c8c8e;
    font-style: italic;
    font-size: 12px;
  }
  .date {
    text-align: center;
    margin: 10px 0;
    span {
      width: fit-content;
      background: #20202a;
      font-size: 14px;
      padding: 7px 10px;
      border-radius: 30px;
    }
  }
  p {
    font-size: 15px;
    color: #8c8c8e;
  }
  button {
    background-color: transparent;
    border: none;
    color: #ffc107;
  }
}
