<!-- <div data-aos="fade-down" class="section-link history">
  <div class="container">
    <div class="row">
      <div class=" col-lg-6 col-md-12">
        <div class="section">
          <h4 class="title-section">Education</h4>
        <div class="row">
          <div class="col-12">
            <div class="hist">
              <div class="title-post">University of Toronto</div>
              <span>Student</span>
              <div class="date">
                <span>jan 2018 - may 2020</span>
              </div>
              <p>Bachelor's Degree in Computer Science ABC Technical Institute, Jefferson, Missouri</p>
              <button>Diplome</button>
            </div>
          </div>
          <div class="hist col-12">
            <div class="title-post">University of Toronto</div>
            <span>Student</span>
            <div class="date">
              <span>jan 2018 - may 2020</span>
            </div>
            <p>Bachelor's Degree in Computer Science ABC Technical Institute, Jefferson, Missouri</p>
            <button>Diplome</button>
          </div>
        </div>
        </div>
      </div>
      <div class=" col-lg-6 col-md-12">
        <div class="section">
          <h4 class="title-section">Work History</h4>
        <div class="row">
          <div class="hist col-12">
            <div class="title-post">University of Toronto</div>
            <span>Student</span>
            <div class="date">
              <span>jan 2018 - may 2020</span>
            </div>
            <p>Bachelor's Degree in Computer Science ABC Technical Institute, Jefferson, Missouri</p>
            <button>Diplome</button>
          </div>
          <div class="hist col-12">
            <div class="title-post">University of Toronto</div>
            <span>Student</span>
            <div class="date">
              <span>jan 2018 - may 2020</span>
            </div>
            <p>Bachelor's Degree in Computer Science ABC Technical Institute, Jefferson, Missouri</p>
            <button>Diplome</button>
          </div>
          <div class="hist col-12">
            <div class="title-post">University of Toronto</div>
            <span>Student</span>
            <div class="date">
              <span>jan 2018 - may 2020</span>
            </div>
            <p>Bachelor's Degree in Computer Science ABC Technical Institute, Jefferson, Missouri</p>
            <button>Diplome</button>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div> -->
<div data-aos="fade-down" class="section-link history">
  <div class="container">
    <div class="row">
      <div class=" col-lg-6 col-md-12">
        <div class="section">
          <h4 class="title-section">Education</h4>
        <div class="row">
          <div class="col-12" *ngFor="let edu of education">
            <app-hist [data]="edu"></app-hist>
          </div>
        </div>
        </div>
      </div>
      <div class=" col-lg-6 col-md-12">
        <div class="section">
          <h4 class="title-section">Work History</h4>
        <div class="row">
          <div class="col-12" *ngFor="let edu of work">
            <app-hist [data]="edu"></app-hist>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
